.image {
  width: 100%;
  height: 100%;
  border-right: 4px solid white;
  border-style: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -user-drag: none;
}
.containerOne {
  padding: 1rem 2rem;
  min-height: fit-content;
  min-width: 100%;
  position: absolute;
  background-color: transparent;
  z-index: 2;
}
.containerTwo {
  padding: 1rem 2rem;
  min-height: fit-content;
  min-width: fit-content;
  position: absolute;
  background-color: transparent;
}
.AppHandleContainer {
  width: 96%;
  height: 10px;
  position: absolute;
  top: 50%;
  z-index: 4;
}

.AppHandle {
  float: right;
  width: 100px;
  height: 10px;
  background-image: url(https://exhibitacollection.com/img/STORE/slide-button.png);
  margin: 0 auto;
  border-radius: 25px;
  width: 55px;
  height: 35px;
  background-repeat: repeat;
  cursor: ew-resize;
}

@media screen and (max-width: 767px) {
  .AppHandleContainer {
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 4;
  }
}
